.container-header{
    display: flex;
    flex-direction: row-reverse;
    width:118%;
    background-color: rgb(35, 39, 42);
    @media(max-width :320px){
        position: fixed;
        z-index: 99;
    }
     @media (min-width:375px) {
    padding-bottom: 2px;
    padding-top:0;
  }
 
}