.card:link, .card:visited{
  background-color: hsl(220, 8%, 23%);
  width: calc(50%);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    text-decoration: none;
  display: inline-block;

}
.card-title {
  color: hsl(210, 3%, 87%);
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  border: none;
 margin: 20px 0px 5px;  
}

.card-image-container {
  width: 100%;
  margin: auto;
}
.card-image {
  width: 100%;
}
