.card-container {
  display: flex;
  flex-direction: column;
  margin: 0 0.8rem;
}
.card-wrapper {
  display: flex;
}
.card-container-title {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: rgb(220, 221, 222);
  margin: 1.5rem 0 1.5rem 0.5rem;
}
.arrow {
  color: hsl(207, 90%, 54%);
  margin-left: 0.5rem;
}
