.details-hero {
  width:100%;
  
}
.detail-container{

  height: 600px; 
  display: flex;
  position: relative;
}
.nav-bar-detail {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.nav-bar-detail-text{
   font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(168, 170, 173);
  font-size :1rem;
  margin: 10px;
  font-weight: bold;
  border-bottom:2px solid  rgb(168, 170, 173); 
  text-decoration:none;
  padding-bottom: 10px;
  transition: all 0.3s ease 0s;
  margin: 10px 5px;
  &:hover {
    color: white;
  }
  &__active {
    color: white;
    border-bottom: 2px solid white;
     padding-bottom: 10px;
  }
}
.detail-bg{
    width: 124%;
    height: 54vh;
     background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1)
      );
    z-index: -1; 
    @media (max-width:1024px){
      width: 118%;
    }
     @media (max-width:768px){
   width: 118%;
 }
 @media (max-width:650px){
   width:118%;
 }
 @media (max-width:400px){
   width:118%;
}
}