.img-error-deafult{
   position: relative;
   width: 100%;
   padding-top: 150%;
   background-color:#23272a;
   overflow: hidden;
}
.img-error-icon{
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: rgb(220, 221, 222);
}
  
   
