.img-error-deafult{
   position: relative;
   width: 100%;
   padding-top: 150%;
   background-color:#23272a;
}
.img-error-icon{
   color:#e8e8e8;
position: absolute;
justify-items: center;
justify-content: center;
  top: 50%;
  left: 41%;
  right: 50%;
  font-size: 45px;
}
  
   
